<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function myclick(){
	var num1 = document.getElementById('mya');
	var num2 = document.getElementById('myb');
	var result = parseInt(num1.value) + parseInt(num2.value);  // pasreInt안에 .value가 없으면 nan오류가 뜸
	
	document.getElementById('myc').value= result;
	
}


</script>
</head>
<body>
<input type="text" style="width:20px;" id="mya" value="1" />
+
<input type="text" style="width:20px;" id="myb" value="2" />
<input type="button" value = "=" onclick="myclick()"/>
<input type="text" style="width:20px;" id="myc" value="" />
</body>
</html>