<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function myclick() {
	var rnd = Math.random();
	var com;
	var mine = document.getElementById('txt_mine').value;
	if(rnd < 0.36){
		document.getElementById('txt_com').value = "가위"
		com = "가위"
	}else if(rnd < 0.66){
		document.getElementById('txt_com').value = "바위"
		com ="바위"
	}else{
		document.getElementById('txt_com').value = "보"
		com ="보"
	}
	if(com == mine){
		document.getElementById('txt_result').value = "무승부";
	}else if (com =="바위" && mine == "가위" || com =="가위" && mine == "보" || com =="보" && mine == "바위"){
		document.getElementById('txt_result').value = "컴퓨터 승리";
	}else{
		document.getElementById('txt_result').value = "사람 승리";
	}
	
} 

</script>
</head>
<body>
<table border="1px">
	<tr>
		<td>나 :</td>
		<td>
			<input type="text" style="width : 40px" id="txt_mine" />
		</td>
	</tr>
	<tr>
		<td>컴 :</td>
		<td>
			<input type="text" style="width : 40px" id="txt_com" />
		</td>
	</tr>
	<tr>
		<td>결과 :</td>
		<td>
			<input type="text" style="width : 40px" id="txt_result" />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="게임하기" onclick="myclick()"/>
		</td>
	</tr>
</table>

</body>
</html>