<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="jquery-3.6.0.min.js"></script>
<script type="text/javascript">
function myclick() {
	var rnd = Math.random();
	var com ="";
	var result = "";
	var mine = $("#txt_mine").val();
	if(rnd < 0.36){
		com = "가위"
	}else if(rnd < 0.66){
		com ="바위"
	}else{
		com ="보"
	}
	console.log(mine);
	if(com == mine){
		result = "무승부";
	}else if (com =="바위" && mine == "가위" || com =="가위" && mine == "보" || com =="보" && mine == "바위"){
		result = "컴퓨터 승리";
	}else{
		result = "사람 승리";
	}
	$("#txt_com").val(com);
	$("#txt_result").val(result);
} 
$(document).ready(function(){
	$("#btn").bind("click",myclick);
});
</script>
</head>
<body>
<table border="1px">
	<tr>
		<td>나 :</td>
		<td>
			<input type="text" style="width : 40px" id="txt_mine" />
		</td>
	</tr>
	<tr>
		<td>컴 :</td>
		<td>
			<input type="text" style="width : 40px" id="txt_com" />
		</td>
	</tr>
	<tr>
		<td>결과 :</td>
		<td>
			<input type="text" style="width : 40px" id="txt_result" />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="게임하기" id="btn"/>
		</td>
	</tr>
</table>

</body>
</html>