<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="jquery-3.6.0.min.js"></script>
<script type="text/javascript">
function myrandom(){
	var a =$(".mytxt").eq(0).val(parseInt(Math.random()*45+1));
	var a =$(".mytxt").eq(1).val(parseInt(Math.random()*45+1));
	var a =$(".mytxt").eq(2).val(parseInt(Math.random()*45+1));
	var a =$(".mytxt").eq(3).val(parseInt(Math.random()*45+1));
	var a =$(".mytxt").eq(4).val(parseInt(Math.random()*45+1));
	var a =$(".mytxt").eq(5).val(parseInt(Math.random()*45+1));

}
$(document).ready(function(){
	$("#btn").bind("click",myrandom);
});

</script>
</head>
<body>
<input type="text" style="width:20px;" class="mytxt" value="__" />
<input type="text" style="width:20px;" class="mytxt" value="__" />
<input type="text" style="width:20px;" class="mytxt" value="__" />
<input type="text" style="width:20px;" class="mytxt" value="__" />
<input type="text" style="width:20px;" class="mytxt" value="__" />
<input type="text" style="width:20px;" class="mytxt" value="__" />

<input type="button" value = "lotto" id="btn"/>

</body>
</html>